@import "./theme.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

app-root {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

app-dashboard {
    width: 100%;
    flex: 1;
    display: flex;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
}

mat-drawer-container {
    flex: 1;
}

.chart-wrapper {
    height: 100%;
}